mixin cardCustom(img, price, dram, title, des, alt ,color, sub  ) 
    .card.customCard
        img(src=img class="card-img-top" alt=alt)
        .card-body
            h3(class="card-title customCard__title" class=color)=title
            p.card-text.customCard__des=des
            p.customCard__sub=sub


mixin btnLink(text)
    .btn 
        a(href="/").btn--link.fw-7=text

mixin cardText(price, dram, title, des, sub, color)
     .card.cardText.text-center(class=color)
        .cardText__head 
            h3=price 
            p=dram
        .card-body
            h3(class="card-title cardText__title")=title
            p.card-text.cardText__des=des
            p.customCard__sub=sub
        +btnLink("Get in touch")